<!-- _includes/recipies.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if recipie.redirect -%}
  <a href="{{ recipie.redirect }}">
    {%- else -%}
    <a href="{{ recipie.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if recipie.img %}
        {%- include figure.html
          path=recipie.img
          alt="recipie thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ recipie.title }}</h2>
          <p class="card-text">{{ recipie.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if recipie.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ recipie.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if recipie.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ recipie.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>
